<!DOCTYPE html>
<html>
    <title>TapSearch</title>
    <body>
        <h3>Implementing inverted index for multiple files and paragraphs in Python</h3>
        <h4>Available URLs:<br>
            /upload : To upload files and or paragraphs <a href="/upload"><button>Upload</button></a><br>
            /index : To create inverted index <a href="/index"><button>Create Index</button></a><br>
            /search : List top 10 documents or paragraphs where the word occurs <a href="/search"><button>Search</button></a><br>
            /clear : clear inverted index files <a href="/clear"><button>Clear</button></a>
        </h4>
    </body>
</html>